<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingnan.mapper.StaffMapper">
<select id="getById" resultType="Staff">
    select * from staff where staff_id=#{staffId}
</select>

<select id="getByName" resultType="Staff">
    select * from staff where staff_name like '%#{staffName}%'
</select>

<select id="login" resultType="Staff">
    select * from staff where staff_name =#{staffName} and staff_password=#{staffPassword}
</select>



<select id="query" resultType="Staff">
    select * from staff
    <trim prefix="where" suffixOverrides="and">
        <if test="staffId!=null">
            staff_id=#{staffId} and
        </if>
        <if test="staffName!=null">
            staff_name like '%${staffName}%' and
        </if>
        <if test="staffPassword!=null">
            staff_password=#{staffPassword} and
        </if>
    </trim>
</select>

<select id="queryAll" resultType="Staff">
    select * from staff
</select>


<update id="update">
    update staff set
    <trim suffixOverrides=",">
        <if test="staffName!=null">
            staff_name=#{staffName},
        </if>

        <if test="staffPassword!=null">
            staff_password=#{staffPassword},
        </if>

    </trim>
    where staff_id=#{staffId}
</update>

<insert id="add">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="staffName!=null">
            staff_name,
        </if>

        <if test="staffPassword!=null">
            staff_password,
        </if>

    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides=",">
        <if test="staffName!=null">
            #{staffName},
        </if>
        <if test="staffPassword!=null">
            #{staffPassword},
        </if>

    </trim>
</insert>

<delete id="delete">
    delete from staff where staff_id=#{staffId}
</delete>

</mapper>